In [79]:
#!pip3 install pandas
#!pip3 install sklearn
#!pip3 install scikit-learn
import numpy as np
import pandas as pd

Requirement already satisfied: scikit-learn in /home/arman/jup_note/project_env/lib/python3.10/site-packages (1.2.0)
Requirement already satisfied: numpy>=1.17.3 in /home/arman/jup_note/project_env/lib/python3.10/site-packages (from scikit-learn) (1.24.1)
Requirement already satisfied: threadpoolctl>=2.0.0 in /home/arman/jup_note/project_env/lib/python3.10/site-packages (from scikit-learn) (3.1.0)
Requirement already satisfied: joblib>=1.1.1 in /home/arman/jup_note/project_env/lib/python3.10/site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: scipy>=1.3.2 in /home/arman/jup_note/project_env/lib/python3.10/site-packages (from scikit-learn) (1.10.0)

# Homework Exercises

Problem1. Տրված են՝ 

data $\rightarrow$ numpy մատրից $150 \times 4$ չափի

feature_names $\rightarrow$ string-երի list 4 էլեմենտներով

target $\rightarrow$ numpy վեկտոր $150$ չափի

target_names $\rightarrow$ string-երի list 3 էլեմենտներով

փոփոխականները (որոնք ստեղծված են վերևում)։ Պահանջվում է ստեղծել pandas DataFrame որը կունենա 5 սյուն և 150 տող։ Առաջին 4 սյուներում գրված կլինի 'data' փոփոխականի պարունակությունը։ Իսկ հինգերորդ սյան մեջ կլինի 'target'-ը, բայց ամեն թվի փոխարեն գրված 'target_names'-ի համապատասխան ինդեքսով տարրը։ Առաջին 4 սյուների անունները կլինեն  'feature_names'-ի էլեմենտները (տրված հերթականությամբ), իսկ հինգերորդի անունը կլինի "target name": 

Վերջնական DataFrame-ի առաջին 5 տողերը կունենան հետևյալ տեսքը՝
```
	sepal length (cm)	sepal width (cm)	petal length (cm)	petal width (cm)	target name
0	     5.1             	3.5	                1.4	           0.2	          setosa
1	     4.9            	 3.0                	1.4           	0.2	          setosa
2	     4.7             	3.2                	1.3           	0.2	          setosa
3	     4.6	             3.1                	1.5           	0.2	          setosa
4	     5.0             	3.6                	1.4           	0.2	          setosa
```

**Ստացված DataFrame֊ը օգտագործվելու է հաջորդ խնդիրներում**։

In [48]:
# Run this cell
# Do not modify this cell
from sklearn.datasets import load_iris
iris = load_iris()

data = iris['data']
feature_names = iris['feature_names']
target = iris['target']
target_names = iris['target_names']

# print('First 5 rows:', data[:5], sep='\n', end='\n\n')
# print('Feature names:', feature_names, sep='\n', end='\n\n')
# print('Target indices:', target, sep='\n', end='\n\n')
# print('Target names:', target_names, sep='\n')

In [57]:
def get_data_frame(data, feature_names, target, target_names):
  #Your code here

    
    df=pd.DataFrame(data=data,columns=feature_names) 
    #print(df)
    df['target name']=target
    df['target name']=df['target name'].apply(func)
    #print (df)
    return df   

def func(n):
        if n==0:return "setosa"
        if n==1:return "versicolor" 
        if n==2:return "virginica"

In [58]:
# Do not modify this cell
df = get_data_frame(data, feature_names, target, target_names)

assert isinstance(df, pd.DataFrame)
assert df.shape == (150, 5)
assert np.all(df.loc[[0, 75, 120], 'target name'].values == target_names)

Նախորդ խնդրում ստացված ``df`` աղյուսակի մեջ գրված է ծաղիկների թերթիկների (պսակաթերթի և բաժակաթերթի) երկարությունն ու լայնությունը և համապատասխան ծաղիկի համարը։ {'setosa', 'versicolor', 'virginica'} տեսակները կոդավորված են {0,1,2} թվերով։

![picture](https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcRaU43Ra3xTYTpU2XLBw5yl20Qty3OCJzjDBw&usqp=CAU)

Problem2. Գտեք յուրաքանչուր ծաղկատեսակի թերթիկի (պսակաթերթ և բաժակաթերթ)

1. միջին երկարությունը
2. միջին լայնությունը
3. նվազագույն երկարությունը
4. նվազագույն լայնությունը
5. առավելագույն երկարությունը
6. առավելագույն լայնությունը

Այս ամենը լցրեք pandas DataFrame-ի մեջ որը ունի հետևյալ սյուները` 
```python
["mean sepal length (cm)", "mean petal length (cm)", "mean sepal width (cm)", "mean petal width (cm)", "min sepal length (cm)", "min petal length (cm)", "min sepal width (cm)", "min petal width (cm)", "max sepal length (cm)", "max petal length (cm)", "max sepal width (cm)", "max petal width (cm)"]
```
և "target name" ինդեքսը։ Խորհուրդ է տրվում օգտագործել ``pd.group_by`` ֆունկցիան։

In [ ]:
columns = ["mean sepal length (cm)", "mean petal length (cm)", "mean sepal width (cm)", "mean petal width (cm)", "min sepal length (cm)", "min petal length (cm)", "min sepal width (cm)", "min petal width (cm)", "max sepal length (cm)", "max petal length (cm)", "max sepal width (cm)", "max petal width (cm)"]

In [61]:
def get_stats(df):
  # your code here
    columns = ["mean sepal length (cm)", "mean petal length (cm)", "mean sepal width (cm)", "mean petal width (cm)", "min sepal length (cm)", "min petal length (cm)", "min sepal width (cm)", "min petal width (cm)", "max sepal length (cm)", "max petal length (cm)", "max sepal width (cm)", "max petal width (cm)"]
    df_re=df.reindex(columns=['sepal length (cm)','petal length (cm)','sepal width (cm)','petal width (cm)','target name'])
    x=df_re.groupby(['target name']).mean()
    y=df_re.groupby(['target name']).min()
    z=df_re.groupby(['target name']).max()
    df1=pd.concat([x,y,z],axis=1)
    df1.columns=columns
    #print(df1)
    return df1

In [62]:
# Do not modify this cell
df_stats = get_stats(df)
assert df_stats.shape == (3, 12)
assert all(df_stats.index.to_list() == target_names)
assert np.allclose(df_stats.loc[:, "mean sepal length (cm)"].values,
            np.array([5.006, 5.936, 6.588]))
assert np.allclose(df_stats.loc[:, "min petal width (cm)"].values,
            np.array([0.1, 1.0, 1.4]))
assert np.allclose(df_stats.loc[:, "max petal length (cm)"].values,
            np.array([1.9, 5.1, 6.9]))

Problem3. ``df`` աղյուսակից ջնջեք այն տողերը, որոնց 'sepal width'-ը փոքր է իր տեսակի միջինից (օգտվելով նախորդ խնդրի հաշվարկներից ``df_stats``)։ Փոփոխությունը կատարեք ``df``-ի վրա և ֆունկցիայով ոչինչ մի վերադարձրեք։

In [76]:
def remove_small_flowers(df, df_stats):
    
    x=df_stats["mean sepal width (cm)"][0]
    y=df_stats["mean sepal width (cm)"][1]
    z=df_stats["mean sepal width (cm)"][2]
    #print(df1)
    df.drop(df [(df['sepal width (cm)'] < x) & (df['target name']=='setosa')].index  , inplace = True)
    df.drop(df [(df['sepal width (cm)'] <y) & (df['target name']=='versicolor')].index  , inplace = True)
    df.drop(df [(df['sepal width (cm)'] <z) & (df['target name']=='virginica')].index  , inplace = True)

In [75]:
# Do not modify this cell
assert remove_small_flowers(df, df_stats) is None
assert df.shape == (80, 5)
assert (df[['petal length (cm)']].min() == 1.0)[0]
assert (df[['petal length (cm)']].max() == 6.7)[0]

Ստորև վանդակն աշխատացնելով ներմուծիր Բոստոն $506\times13$  չափանի տվյալների բազմությունը, որն իր մեջ պարունակում է Բոստոնի 506 թաղամասերի վերաբերյալ տվյալներ՝ 13 բնութագրիչներով։ Այդ բնութագրիչներն են՝

("ԱՆՈՒՆ բացատրություն" ֆորմատով)
1. CRIM per capita crime rate by town
2. ZN proportion of residential land zoned for lots over 25,000 sq.ft.
3. INDUS proportion of non-retail business acres per town
4. CHAS Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)
5. NOX nitric oxides concentration (parts per 10 million)
6. RM average number of rooms per dwelling
7. AGE proportion of owner-occupied units built prior to 1940
8. DIS weighted distances to five Boston employment centres
9. RAD index of accessibility to radial highways
10. TAX full-value property-tax rate per $10,000
11. PTRATIO pupil-teacher ratio by town
12. B 1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town
13. LSTAT % lower status of the population


Իսկ *y փոփոխականը* 506 երկարությամբ numpy վեկտոր է, որը իրենից ներկայացնում է համապատասխան թաղամասերի տների մեդիան գինը (չափման միավորը՝ $1000)։

Problem4. Ստեղծեք dataframe X, y  փոփոխականների հիման վրա (Problem 1.-ի նման)։ Բնութագրիչ սյուների անունները սահմանեք ըստ վերը նշված ցանկիժ, իսկ վերջին սյան անունը՝  "MEDV"։

In [547]:
#Do not modify this cell
# from sklearn.datasets import load_boston
# X, y = load_boston(return_X_y=True)
# print(X.shape)

data_url = "http://lib.stat.cmu.edu/datasets/boston"
raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
target = raw_df.values[1::2, 2]

# col=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']
# df=pd.DataFrame(data=data,columns=col)
# df['medv']=target
# df
X=data
y=target

In [548]:
def get_data_frame(X, y):
  #Your code here
    col=['CRIM','ZN','INDUS','CHAS','NOX','RM','AGE','DIS','RAD','TAX','PTRATIO','B','LSTAT']
    df=pd.DataFrame(data=X,columns=col)
    df['MEDV']=y
    return df

In [549]:
# Do not modify this cell
df = get_data_frame(X,y)

assert isinstance(df, pd.DataFrame)
assert df.shape == (506, 14)
assert df.columns.tolist()[:3] == ['CRIM','ZN','INDUS']
assert df.columns[-1] == 'MEDV'

Problem5. Վերադարձնել 3 "ամենաէժան թաղամասերի" տողերը, որտեղ CRIM-ը մեծ է 0.5֊ից։

In [550]:
def three_less_expensive(df):
    df1=df[df['CRIM']>0.5]
    
    return df1.sort_values(by=['MEDV'])[0:3]

In [551]:
# Do not modify this cell
top3 = three_less_expensive(df)
assert top3.MEDV.mean() == 5.2  
assert top3.INDUS.mean() == 18.1 
assert top3.TAX.mean() == 666.0

Problem6. Վերադարձնել 6 "ամենաթանկ թաղամասերի" տողերը, որոնք գտնվում են Չարլզ գետի ափին։

In [552]:
def three_most_expensive(df):
    df1=df[df['CHAS']==1]
    return df1.sort_values(by=['MEDV'])[-6:]

In [553]:
# Do not modify this cell
top6 = three_most_expensive(df)
assert top6.MEDV.mean() == 50.0
assert top6.TAX.min() == 198.0
assert top6.ZN.max() == 90.0
assert isinstance(top6, pd.DataFrame)

Problem7. Վերադարձնել միջինում 10 ամենաշատ  սենյակներն ունեցող թաղամասերի միջին սենյակների քանակները (``RM``) և տների մեդիան գները։ Արդյունքը պետք է լինի $10 \times 2$ չափանի DataFrame՝ դասավորված ըստ ``RM`` սյան նվազման կարգով։

In [554]:
def ten_most_rooms(df):
    df1=df.sort_values(by=['RM'])[-1:-11:-1]
    df2=df1[['RM','MEDV']]
#     x=df2['RM'].mean()
#     y=df2['MEDV'].mean()
    return df2

In [555]:
# Do not modify this cell
top10 = ten_most_rooms(df)
assert top10.iloc[0].values.tolist() ==  [8.78, 21.9]
assert top10.mean().values.tolist() == [8.4388, 44.83]

Problem8. ``df``-ում ավելացնել նոր տող ըստ տրված 14 երկարությամբ ``x`` վեկտորի։

In [556]:
print(len(df))
def add_row(df, x):
    df.loc[len(df)] = x
    #print(len(df))
    #return df
#x = np.array([0.006, 18, 2.31, 0, 0.5, 6.5, 65, 4, 1, 296, 15, 396, 5, 19])
#add_row(df,x)

506

In [557]:
# Do not modify this cell
assert len(df) == 506
x = np.array([0.006, 18, 2.31, 0, 0.5, 6.5, 65, 4, 1, 296, 15, 396, 5, 19])
assert add_row(df, x) is None
assert len(df) == 507
assert (df.iloc[-1].values == x).all()

Problem9. ``df``-ից ջնջել առաջին սյունը։

In [558]:
def remove_first_col(df):
    df.drop(['CRIM'],axis=1,inplace=True)
    print(df.shape[1])
    print(df.columns[0])

In [559]:
# Do not modify this cell
assert df.shape[1] == 14
assert remove_first_col(df) is None
assert df.shape[1] == 13
assert df.columns[0] == 'ZN'
assert 'CRIM' not in df.columns

13
ZN

Problem10. Օգտագործելով ``groupby`` ֆունկցիան գտնել գետի մոտ գտնվող և չգտնվող թաղամասերի բնութագրիչների միջինները։

In [560]:
def group_by_river(df):
  # Your code here
    #df.drop(['CRIM'],axis=1,inplace=True)
    df=df.groupby(['CHAS']).mean()
    #print(df)
    return df

In [562]:
# Do not modify this cell
river_df = group_by_river(df)
assert river_df.shape == (2, 12)
assert river_df.index.name == 'CHAS'
print(river_df.MEDV.values.tolist())
assert river_df.MEDV.values.tolist() == [22.08728813559324, 28.44]

[22.087288135593223, 28.439999999999998]

AssertionError:

Problem11. ``'Homeworks/HW_files/Military Expenditure.csv'`` ֆայլի տվյալները կարդացեք DataFrame-ով և վերադարձրեք առաջին 10 տողերը, ինչպես նաև ամբողջ DataFrame-ը։

In [709]:
def read_return_top10(file_name):
  # your code here
    df=pd.read_csv(file_name)
    #print(df)
    return df[0:10],df
#read_return_top10('/home/arman/Downloads/03-Pandas/MilitaryExpenditureSmall.csv')

In [710]:
# Do not modify this cell
top10, df = read_return_top10('/home/arman/Downloads/03-Pandas/MilitaryExpenditureSmall.csv')
assert top10.iloc[8]['Name'] == 'Armenia'
assert top10.shape == (10, 63)

Military Expenditure dataset-ը պատրաստվել է Ստոկհոլմի խաղաղության միջազգային հետազոտությունների ինստիտուտի (SIPRI) կողմից և պարունակում է ավելի քան 200 պետությունների 1960-2018 թվականներին կատարած ռազմական ծախսերը դոլարներով։

Problem12. Ջնջել այն տողերը որոնց 'Type' սյունը "Country" *չէ*։

In [ ]:
df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRAT,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [711]:
def remove_non_countries(df):
  # Your code here
    df.drop(range(202,len(df)),inplace=True)
    #print(df.shape)

In [712]:
# Do not modify this cell
assert remove_non_countries(df) is None
assert df.Type.nunique() == 1
#print(df.shape)
assert df.shape == (202, 63)

Problem13. Ջնջել 'Code', 'Type', 'Indicator Name' սյուները։

In [713]:
def remove_some_cols(df):
  # Your code here
    df.drop(['Code','Indicator Name','Type'],axis=1,inplace=True)
    #print(df)

In [714]:
# Do not modify this cell
assert remove_some_cols(df) is None
assert df.shape == (202, 60)
#print(df.columns[1])
assert df.columns[1] == '1960'

Problem14. Ստացված dataframe-ը գրել(պահպանել) 'MilitaryExpenditureSmall.csv' ֆայլի վրա **այնպես, ինչպես որ կա**։

In [715]:
def save_df(df, file_name):
  # your code here
    df.to_csv(file_name ,index=False)

In [716]:
# Do not modify this cell
file_name = '/home/arman/Downloads/03-Pandas/MilitaryExpenditureSmall_1.csv'
save_df(df, file_name)
small_df = pd.read_csv(file_name)
#print(small_df.iloc[0,0])
assert small_df.iloc[0, 0] == 'Afghanistan'
assert small_df.shape[1] == 60

Problem15. Վերադարձնել Հայաստանին համապատասխանող տողի այն տվյալները/վանդակները որոնք դատարկ չեն։

In [767]:
def info_arm(df):
  # your code here
    df=df.set_index('Name')
    #print(df)
    #x=pd.DataFrame(data=df.iloc[8].dropna()) #.transpose()   
    x=pd.DataFrame(data=df.loc['Armenia'].dropna()).transpose()
    #y=pd.DataFrame(x).transpose()
    #print(x)
    return x

In [769]:
# Do not modify this cell
arm = info_arm(df)
print(arm.shape)
print(arm)
assert arm.shape == (1, 26)
assert arm.iloc[:, 1:].max(axis=1).values[0] == 608854649.9
assert '1994' not in arm.columns

(1, 26)
         1992          1993          1995          1996          1997  \
Armenia   0.0  9.829764e+06  5.222858e+07  5.241027e+07  6.406212e+07

                 1998          1999          2000          2001          2002  \
Armenia  6.675757e+07  6.823415e+07  6.805214e+07  6.624763e+07  6.410641e+07

         ...          2009          2010          2011          2012  \
Armenia  ...  3.594993e+08  3.950115e+08  3.908714e+08  3.805717e+08

                 2013          2014          2015          2016          2017  \
Armenia  4.445519e+08  4.578070e+08  4.473798e+08  4.313962e+08  4.436104e+08

                 2018
Armenia  5.132520e+08

[1 rows x 26 columns]

AssertionError:

Problem16. Վերադարձնել DataFrame, որտեղ կլինի պետության անունը՝ որպես ինդեքս և յուրաքանչյուր պետության միջին տարեկան ծախսը՝ որպես ``'mean_expense'`` սյուն՝ գրված նվազման կարգով։  Վերջնական աղյուսակում չպետք է լինեն այնպիսի երկրներ, որոնց ծախսերի տվյալները ընդհանրապես առկա չեն կամ 0 են։

In [810]:
#print(df)
def per_country_mean_expense(df):
  # your code here
    df=df.set_index('Name')
    df['mean']=df.mean(axis=1)
    df=df.reset_index()
    expense=df[['Name','mean']].copy().dropna().sort_values('mean',ascending=False)
    expense = expense.set_index('Name')
    return expense

In [812]:
# Do not modify this cell
grouped_df = per_country_mean_expense(df)
print(grouped_df)
assert grouped_df.loc['Armenia'][0] == arm.iloc[:,1:].mean(axis=1).values[0]
assert grouped_df.shape == (164, 1)
assert grouped_df.index[0] == 'United States'
assert grouped_df.index[-1] == 'Haiti'

                                   mean
Name
High income                5.651188e+11
OECD members               5.362349e+11
Post-demographic dividend  5.134129e+11
North America              3.187398e+11
Europe & Central Asia      2.930438e+11
...                                 ...
Cabo Verde                 6.610047e+06
Gambia, The                4.781586e+06
Haiti                      2.019929e+06
Costa Rica                 0.000000e+00
Iceland                    0.000000e+00

[164 rows x 1 columns]

AssertionError:

Problem17. Տրված է ՝ $10 \times 4$ չափնի ```pandas.DataFrame (df)```։ Հարկավոր է գրել ֆունկցիա, որը կստեղծի նոր ```pandas.DataFrame```, որի մեջ կլինեն ```df```-ի տողերն ու սյուները և 2 նոր սյուն ```nearest_row```  և ```dist``` որոնց մեջ գրված կլինեն ամենամոտիկ տողի ```index```-ը և էվկլիդյան հեռավորությունը այդ տողերի միջև։

In [ ]:
# Do not modify this cell
np.random.seed(42)
df = pd.DataFrame(np.random.randint(1, 100, 40).reshape(10, -1),
                  columns=list('pqrs'),
                  index=list('abcdefghij'))
new_df = add_columns(df)
assert isinstance(new_df, pd.DataFrame) 
assert new_df.loc['a']['nearest_row'] == 'g' 
assert new_df.nearest_row.value_counts()[0] == 4
assert id(new_df) != id(df)

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:8: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.

Problem18. Տրված է՝ $93 \times 27 $ չափանի ```pandas.DataFrame (df)```։ Հարկավոր է գրել ֆունկցիա, որը կստեղծի նոր ```pandas.DataFrame```, որի մեջ կլինեն ```df```-ի տողերն ու սյուները, բացառությամբ ```Type``` սյան, որի փոխարեն կլինեն մի քանի սյուներ՝ ստացված HW4-ի 4-րդ խնդրի ֆունկցիայի միջոցով։ Սյուների անունները կլինեն ```Type``` սյան արժեքները (Midsize, Small, ...):

In [260]:
def convert(df):
  # Your code here
    print(df)

In [261]:
# Do not modify this cell
df = pd.read_csv(
    'https://raw.githubusercontent.com/selva86/datasets/master/Cars93_miss.csv')
new_df = convert(df)
assert convert(df).iloc[0]['Small'] == 1 
assert isinstance(new_df, pd.DataFrame)
assert id(new_df) != id(df)
assert new_df.shape == (93, 32)
assert new_df.columns[-5:].tolist() == ['Large', 'Midsize',
                                        'Small', 'Sporty', 'Van']

   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]
   Manufacturer    Model     Type  Min.Price  Price  Max.Price  MPG.city  \
0         Acura  Integra    Small       12.9   15.9       18.8      25.0
1           NaN   Legend  Midsize       29.2   33.9       38.7      18.0
2          Audi       90  Compact       25.9   29.1       32.3      20.0
3          Audi      100  Midsize        NaN   37.7       44.6      19.0
4           BMW     535i  Midsize        NaN   30.0        NaN      22.0
..          ...      ...      ...        ...    ...        ...       ...
88   Volkswagen  Eurovan      Van       16.6   19.7       22.7      17.0
89   Volkswagen   Passat  Compact       17.6   20.0       22.4      21.0
90   Volkswagen  Corrado   Sporty       22.9   23.3       23.7      18.0
91        Volvo      240  Compact       21.8   22.7       23.5      21.0
92          NaN      850  Midsize       24.8   26.7       28.5      20.0

    MPG.highway             AirBags DriveTrain  ... Passengers  Length  \
0          31.0                None      Front  ...        5.0   177.0
1          25.0  Driver & Passenger      Front  ...        5.0   195.0
2          26.0         Driver only      Front  ...        5.0   180.0
3          26.0  Driver & Passenger        NaN  ...        6.0   193.0
4          30.0                 NaN       Rear  ...        4.0   186.0
..          ...                 ...        ...  ...        ...     ...
88         21.0                None      Front  ...        7.0   187.0
89         30.0                None      Front  ...        5.0   180.0
90         25.0                None      Front  ...        4.0   159.0
91         28.0         Driver only       Rear  ...        5.0   190.0
92         28.0  Driver & Passenger      Front  ...        5.0   184.0

    Wheelbase  Width  Turn.circle Rear.seat.room  Luggage.room  Weight  \
0       102.0   68.0         37.0           26.5           NaN  2705.0
1       115.0   71.0         38.0           30.0          15.0  3560.0
2       102.0   67.0         37.0           28.0          14.0  3375.0
3       106.0    NaN         37.0           31.0          17.0  3405.0
4       109.0   69.0         39.0           27.0          13.0  3640.0
..        ...    ...          ...            ...           ...     ...
88      115.0   72.0         38.0           34.0           NaN  3960.0
89      103.0   67.0         35.0           31.5          14.0  2985.0
90       97.0   66.0         36.0           26.0          15.0  2810.0
91      104.0   67.0         37.0           29.5          14.0  2985.0
92      105.0   69.0         38.0           30.0          15.0  3245.0

     Origin                Make
0   non-USA       Acura Integra
1   non-USA        Acura Legend
2   non-USA             Audi 90
3   non-USA            Audi 100
4   non-USA            BMW 535i
..      ...                 ...
88      NaN  Volkswagen Eurovan
89  non-USA   Volkswagen Passat
90  non-USA  Volkswagen Corrado
91  non-USA           Volvo 240
92  non-USA           Volvo 850

[93 rows x 27 columns]

AttributeError: 'NoneType' object has no attribute 'iloc'

Problem19. Նախորդ խնդրում ստացված dataset-ի  ```Min.price``` և ```Max.price``` սյուների բացակայող արժեքները լրացնել համապատասխանաբար այդ սյուների  միջինով և մեդիանով՝ օգտագործելով ``apply()`` մեթոդը:

In [ ]:
def fill_NaN(df):
  # Your code here

In [ ]:
# Do not modify this cell
assert isinstance(new_df, pd.DataFrame)
other_df = fill_NaN(new_df)
assert abs(other_df.iloc[3]['Min.Price'] - 17.118605) < 0.0001
assert abs(other_df.iloc[4]['Max.Price'] - 19.15) < 0.0001